.free_mode_swiper {
  width: 100%;
  height: 258.83px;
}

.free_mode_card_design {
  width: 100%;
}

.free_mode_card_design_image{
  padding-top: 100%; /* 16:9 aspect ratio */
  position: relative; 
  width: 100%; /* Ensures it stretches to fit the parent width */
}

.free_mode_card_design_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.free_mode_card_design_content{
  margin: 12px 0 12px 0;
  padding: 12px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
}